# Please create your .env.local following this structure :

# MOVIES API 
NEXT_PUBLIC_TMDP_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDP_AUTH=<accessible from the settings/api page (https://www.themoviedb.org/settings/api) - second token (not the first api key)>


# FIREBASE API
NEXT_PUBLIC_FIREBASE_API_KEY=firebase
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=firebase
NEXT_PUBLIC_FIREBASE_PROJECT_ID=firebase
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=firebase
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=firebase
NEXT_PUBLIC_FIREBASE_APPID=firebase
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=firebase